{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Board</h1>
    </div>
    <table class="table" style="border: 1px solid black">
        <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td><a href="{{ url_for('.post_page', postid=post.postid) }}">{{ post.title }}</a></td>
                <td><a href="{{ url_for('.author_page', userid=post.userid) }}">{{ post.user.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="display: flex; flex-direction: row;">
        <button type="button" class="btn btn-light" style="margin-right: 30px"
                onclick="window.location.href = '/post/write'">작성
        </button>
        <form action="/post/delete" method="http" style="display: flex; width: 100%">
            <input type="text" class="form-control" style="width: 200px; margin-right: 30px">
            <button type="submit" class="btn btn-light">삭제</button>
        </form>
    </div>
</div>
{% endblock %}